bcrypt
blinker
certifi
charset-normalizer
clicK
dnspython
email-validator
FlasK
Flask-Bcrypt
Flask-Mail
Flask-SQLAlchemy
Flask-WTF
greenlet
idna
is-disposable-email
itsdangerous
Jinja2
MarkupSafe
psycopg2
requests
SQLAlchemy
typing_extensions
urllib3
Werkzeug
WTForms
wtforms-validators
