{% extends 'base.html' %} 

{% block body_class %}Homepage{% endblock %}

{% block content %}
    <h1>We're trying</h1>
    <div class="btn-container">
        <a class="btn btn-primary" href="#modal-1" id="modal-closed">Krager</a>
    </div>
<div class="container">
  <div class="row">
    <!-- Current Recipes Column -->
    <div class="col-3 sidebar">
      <form method="POST" action="{{ url_for('update_grocery_list') }}">
        <h3>Your Recipes</h3>
          {% for recipe in recipes %}
          <div>
            <input type="checkbox" name="recipe_ids" value="{{ recipe.id }}" {% if recipe.id|string in selected_recipe_ids %}checked{% endif %}>
            {{ recipe.name }}
            </div>
          {% endfor %}
        <button type="submit" class="btn btn-outline-warning">Update Grocery List</button>
      </form>
    </div>

    <!-- New Recipe Form Column -->
    <div class="col-4">
      <h3>Add New Recipe</h3>
      <form method="POST" action="{{ url_for('add_recipe') }}" id="user_form">
	{{ form.hidden_tag() }} {% for field in form if field.widget.input_type !=
	'hidden' %}
	<p>
		{{ field.label }} {{ field(class_="form-control custom-form-control") }} {% for error in
		field.errors %}
		<span class="form-text text-danger"> {{ error }} </span>
		{% endfor %}
	</p>
	{% endfor %}
        <button type="submit" class="btn btn-outline-warning">Submit</button>
      </form>
    </div>

    <!-- Grocery List Column -->
<div class="col-5 grocery-list">
  <h3>Your Grocery List</h3>
  <ul>
    {% for ingredient in g.grocery_list.recipe_ingredients %}
      <li>{{ ingredient.quantity}} {{ ingredient.measurement }} {{ ingredient.ingredient_name }}</li>
    {% endfor %}
  </ul>
</div>

</div>
</div>
{% for ingredient in g.grocery_list.recipe_ingredients %}
  <div class="modal-container" id="modal-{{ loop.index }}">
    <div class="my-modal">
      <div class="details">
        <h1 class="title">Ingredient Select</h1>
        <p class="description">Choose the option you'd like to add to your cart</p>
      </div>
      <p class="txt">Your options for {{ingredient.quantity}} {{ingredient.measurement}} {{ ingredient.ingredient_name }} are:</p>
      <ul>
        {% for option in ingredient.options %}
          <li>{{option.brand}} {{ option.name }} - {{ option.price }}</li>
        {% endfor %}
      </ul>
      {% if loop.index > 1 %}
        <a href="#modal-{{ loop.index - 1 }}" class="btn">&larr; Previous</a>
      {% endif %}
      {% if not loop.last %}
        <a href="#modal-{{ loop.index + 1 }}" class="btn">Next &rarr;</a>
      {% else %}
        <a href="#modal-closed" class="btn">Head to cart</a>
      {% endif %}
    </div>
  </div>
{% endfor %}





{% endblock %}