{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
  <h1 class="text-center">{{ g.user.username }}'s Profile</h1>
  <div class="row justify-content-center">
    <div class="col-md-4 mt-3">
      <div class="d-flex justify-content-between mb-3">
        <a href="{{url_for('update_email')}}" class="btn btn-info">Change Email</a>
        <a href="{{url_for('update_password')}}" class="btn btn-warning">Change Password</a>
        <a href="#delete-modal" class="btn btn-danger">Delete Acct</a>
      </div>
      <div class="card mt-4">
        <div class="card-header">
          Recipe Box
        </div>
        <div class="card-body scrollable-list">
          <ul class="list-group list-group-flush">
            {% for recipe in g.user.recipes %}
              <li class="list-group-item">
                <a href="{{url_for('view_recipe', recipe_id=recipe.id)}}">{{recipe.name}}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal-container" id="delete-modal">
  <div class="my-modal">
    <div class="details">
      <h1 class="title">Delete Account</h1>
      <p class="description">Are you sure you want to delete your account?</p>
    </div>
    <div class="modal-actions">
      <form method="POST" action="{{ url_for('delete_account') }}">
        <button type="submit" class="btn btn-danger">Delete Account</button>
      </form>
      <a href="#modal-closed" class="btn btn-outline-secondary">Cancel</a>
    </div>
  </div>
</div>
{% endblock %}
