{% extends 'base.html' %} {% block body_class %}Edit Recipe{% endblock %} {%
block content %}

<h1 class="display-3">Edit Recipe</h1>
<p class="lead">Make changes to the saved recipes in your box</p>

<div>
	<form method="POST" class="col-md-4 mt-4">
		{{ form.hidden_tag() }}

		<!-- Recipe Name -->
		<p>
			{{ form.name.label }}
			{{ form.name(class_="form-control custom-form-control") }}
			{% for error in form.name.errors %}
			<span class="form-text text-danger"> {{ error }} </span>
			{% endfor %}
		</p>

		<!-- URL -->
		<p>
			{{ form.url.label }}
			{{ form.url(class_="form-control custom-form-control") }}
			{% for error in form.url.errors %}
			<span class="form-text text-danger"> {{ error }} </span>
			{% endfor %}
		</p>

		<!-- Ingredients -->
		<p>
			{{ form.ingredients_text.label }}
			{{ form.ingredients_text(class_="form-control custom-form-control") }}
			{% for error in form.ingredients_text.errors %}
			<span class="form-text text-danger"> {{ error }} </span>
			{% endfor %}
		</p>

		<!-- Notes -->
		<p>
			{{ form.notes.label }}
			{{ form.notes(class_="form-control custom-form-control") }}
			{% for error in form.notes.errors %}
			<span class="form-text text-danger"> {{ error }} </span>
			{% endfor %}
		</p>

		<div class="btn-container">
			<button class="button-56" type="submit">Update</button>
		</div>
	</form>
</div>
{% endblock %}
