{% extends 'base.html' %} 

{% block body_class %}Edit Recipe{% endblock %}

{% block content %}

<h1 class="display-3">Edit Recipe</h1>
<p class="lead">
	Make changes to the saved recipes in your box
</p>

    <div>
        <form method="POST" class="col-md-4 mt-4">
	{{ form.hidden_tag() }} {% for field in form if field.widget.input_type !=
	'hidden' %}
	<p>
		{{ field.label }} {{ field(class_="form-control custom-form-control") }} {% for error in
		field.errors %}
		<span class="form-text text-danger"> {{ error }} </span>
		{% endfor %}
	</p>
	{% endfor %}

	<div class="btn-container">
		<button class="btn btn-outline-warning" type="submit">Update</button>
	</div>
</form>
    </div>
{% endblock %}
