{% extends 'base.html' %}
{% block body_class %}ResetPassword{% endblock %}
{% block content %}

<h1 class="display-3">Create New Password</h1>
<p class="lead">
	Enter your new password below.
</p>

<form method="POST" class="col-md-4 mt-4">
	{{ form.hidden_tag() }}
	{% for field in form if field.widget.input_type != 'hidden' %}
	<p>
		{{ field.label }}
		{{ field(class_="form-control custom-form-control") }}
		{% for error in field.errors %}
		<span class="form-text text-danger"> {{ error }} </span>
		{% endfor %}
	</p>
	{% endfor %}

	<div class="btn-container">
		<button class="button-56" type="submit">Reset Password</button>
	</div>
</form>

<div class="mt-3">
	<p>
		<a href="/login">← Back to Login</a>
	</p>
</div>

{% endblock %}

