{% extends 'base.html' %} {% block body_class %}Update Password{% endblock %} {%
block content %}

<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<h1 class="display-3">Update Password</h1>
			<p class="lead">Change your password below.</p>
			<p>
				If you do not know your current password please contact the
				administrator.
			</p>
		</div>
	</div>
</div>

<form method="POST" class="justify-content-center" id="user_form">
	{{ form.hidden_tag() }}

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-4">
				{% for field in form if field.widget.input_type != 'hidden' %}
				<div class="form-group">
					<label for="{{ field.id }}">{{ field.label.text }}</label>
					{{ field(class_="form-control", placeholder=field.label.text) }} {%
					for error in field.errors %}
					<span class="form-text text-danger"> {{ error }} </span>
					{% endfor %}
				</div>
				{% endfor %}
			</div>

			<div class="text-center">
				<button class="btn btn-outline-warning">Submit</button>
				<a class="btn btn-outline-danger" href="{{url_for('user_view')}}"
					>Cancel</a
				>
			</div>
		</div>
	</div>
</form>

{% endblock %}
